<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Open Media library</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.out.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body class="bg-slate-600 dark:bg-slate-800 dark:text-white p-2">
    <header class="p-2 bg-slate-900">
      <nav>
        <h1 class="text-5xl">Open Media Library</h1>
      </nav>
    </header>
    {% block body %}
    {% endblock %}
  </body>
</html>
